# exporting to CSV

In [1]:
import pandas as pd

In [2]:
dict1 = {
    'usn':['2ka19cs032','2ka19cs033','2ka19cs034','2ka19cs035','2ka19cs036'],
    'name':['pavan','pooja','prasad','pratap','pruthvi'],
    'sem':[5,5,5,5,5,],
    'ia1':[156,165,112,167,145],
    'ia2':[167,164,121,134,119],
    'ia3':[180,134,142,164,113],
    'avg':[167.667,154.333,125,155,125.6667]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

          usn     name  sem  ia1  ia2  ia3       avg
0  2ka19cs032    pavan    5  156  167  180  167.6670
1  2ka19cs033    pooja    5  165  164  134  154.3330
2  2ka19cs034   prasad    5  112  121  142  125.0000
3  2ka19cs035   pratap    5  167  134  164  155.0000
4  2ka19cs036  pruthvi    5  145  119  113  125.6667

In [5]:
df.to_csv('students.csv')

In [6]:
df.to_csv('students_index_False.csv', index=False)

In [12]:
df['name'][0]

'pavan'